/* General styles */
body {
    margin: 0;
    height: 100%;
    background-image: url('background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fffe42;
    text-shadow: 1px 1px 2px #000;
}

/* Logo */
.logo {
    width: 200px;
    margin-bottom: 20px;
    filter: drop-shadow(0 0 10px #ffea42);
}

/* Title */
h1.glow-title {
    font-size: 48px;
    color: #ffea42;
    text-shadow: 0 10px 10px #ffe42a, 0 0 20px #ffe42a;
    margin-bottom: 10px;
}

/* Button container styles */
.button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

/* Styling for each button */
button {
    background-color: #ffe42a;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    color: #000;
    cursor: pointer;
    font-size: 14px;
}

button:hover {
    background-color: #f04e2e;
}

button:active {
    transform: scale(0.98);
}

/* Centering the email field and button for the raffle */
.raffle-box form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.raffle-box input[type="email"], .raffle-box button[type="submit"] {
    padding: 10px;
    margin-top: 10px;
    width: 80%;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #ffe42a;
    margin-bottom: 10px;
}

.raffle-box button[type="submit"] {
    background-color: #ffe42a;
    color: #000;
    cursor: pointer;
}

.raffle-box button[type="submit"]:hover {
    background-color: #f04e2e;
}

/* Customer Reviews Section */
.reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    font-family: 'Arial', sans-serif;
    color: #fffe42;
}

.reviews p {
    margin: 5px;
    font-size: 14px;
}

.reviews h3 {
    font-size: 18px;
    margin-bottom: 15px;
}

/* Styling for the raffle box */
.raffle-box {
    text-align: center; /* Centers the content inside */
    margin: 0 auto; /* Centers the box */
    width: 80%; /* Sets width to 80% */
    max-width: 600px; /* Sets a max width */
    margin-top: 20px; /* Adds space at the top */
}
